.side_menu {
    width: 360px;
    overflow: auto;
    transform: translate3d(110%, 0, 0);
    transition-duration: 224ms;
    transition-timing-function: cubic-bezier(0,0,.2,1);
}
.side_menu-open{
    width: 360px;
    transition-duration: 224ms;
    transition-timing-function: cubic-bezier(0,0,.2,1);
}
